@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 100;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

@layer base {
  body {
    @apply text-black;
  }
  .btn {
    @apply font-semibold transition-all rounded-xl;
  }
  .btn-sm {
    @apply px-6 py-3;
  }
  .btn-lg {
    @apply px-6 py-4;
  }
  .btn-primary {
    @apply text-white bg-primary hover:bg-primary/90;
  }
  .btn-secondary {
    @apply text-white bg-secondary hover:bg-secondary/90;
  }
  .input {
    @apply px-6 py-4;
  }
  .textarea {
    @apply px-6 py-4 resize-none;
  }
  .input,
  .textarea {
    @apply outline-1 focus:outline-double focus:outline-orange rounded-lg border font-semibold placeholder:text-[#767676] placeholder:text-[15px] placeholder:font-semibold transition-all duration-100;
  }
}
